@import "./colors.less";
@import "antd/lib/style/themes/default.less";

@font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
@primary-color: #27ce9f;
@typography-title-margin-bottom: 0;
@border-radius-base: 8px;
@border-radius-sm: 5px;
@shadow-color: rgba(0, 0, 0, 0.05);
@shadow-1-down: 4px 4px 40px @shadow-color;
@border-color-split: #f4f4f4;
@border-color-base: #e5e5e5;
@transparent-color: transparent;
@btn-border-radius-base: @border-radius-sm;
@btn-border-radius-sm: @border-radius-sm;
@btn-font-weight: 600;

// Buttons
@btn-font-weight: 600;
@btn-default-color: @color-text-n100;
@btn-height-base: 40px;

.ant-btn > svg + span {
  margin-left: 0.5rem;
  vertical-align: 0.125rem;
}

// Select, Dropdown
@select-border-color: @color-text-n10;

// Menu list
.ant-select-dropdown,
.ant-dropdown-menu,
.ant-dropdown-menu-root,
.ant-dropdown-menu-vertical,
.ant-dropdown-menu-light {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

@select-item-active-bg: @color-blue-b5;
@select-item-selected-bg: @color-blue-b5;
@dropdown-selected-bg: @color-blue-b5;
.ant-select-item-option,
.ant-dropdown-menu-item {
  border-radius: 0.25rem;

  &:not(.ant-dropdown-menu-item-danger, .ant-dropdown-menu-item-disabled, .ant-dropdown-menu-submenu-title-disabled, .ant-select-item-option-disabled) {
    color: @color-text-n50;
  }

  &.ant-dropdown-menu-item-danger {
    color: @color-red-r50;

    &:hover {
      color: @color-red-r50;
      background-color: @color-red-r5;
    }
  }
}

// Form
@input-height-base: 40px;
@input-border-color: @color-text-n20;
@form-vertical-label-padding: 0 0 0.25rem;
@form-item-margin-bottom: 1rem;

// Uppercase form label
.ant-form-item-label {
  text-transform: uppercase;
}

// Change Form item label required* to the right
.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional) {
  &::before {
    content: none;
  }

  &::after {
    display: inline-block;
    margin-right: 4px;
    color: @color-red-r50;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
  }
}

html,
body,
#root {
  height: 100%;
}

.ant-layout-header {
  background: #fff;
}

.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ant-layout-header {
  padding: 0;
}

.ant-menu-horizontal {
  border-bottom: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

.ant-picker {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}
.ant-form-item-label > label {
  font-weight: 600;
  font-size: 11px;
  color: @color-text-n50;
}
