@import "node_modules/antd/dist/antd.less";
@import "./colors.less";

@font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
@primary-color: #27ce9f;
@typography-title-margin-bottom: 0;
@typography-title-color: #27ce9f;
@border-radius-base: 8px;
@border-radius-sm: 5px;
@shadow-color: rgba(0, 0, 0, 0.05);
@shadow-1-down: 4px 4px 40px @shadow-color;
@border-color-split: #f4f4f4;
@border-color-base: #e5e5e5;
@transparent-color: transparent;
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

@btn-border-radius-base: @border-radius-sm;
@btn-border-radius-sm: @border-radius-sm;
@btn-font-weight: 600;
@btn-font-weight: 600;
@btn-default-color: @color-text-n100;
@btn-height-base: 40px;

@select-border-color: @color-text-n10;

@select-item-active-bg: @color-blue-b5;
@select-item-selected-bg: @color-blue-b5;
@dropdown-selected-bg: @color-blue-b5;

// Form
@input-height-base: 40px;
@input-border-color: @color-text-n20;
@form-vertical-label-padding: 0 0 0.25rem;
@form-item-margin-bottom: 1rem;
